*.log
*.dat
notebooks/.ipynb_checkpoints/*
__pycache__
jobscripts/ipjobs*
jobscripts/gnup*
plots/*.output
*.out
*.splits
*.pdf
*.png
.config
output/*
*.log
*.npy
qdPy.egg-info/
.config.bak
__init__.py